.g-panel {
   //font-size: 13px;
   font-family: Roboto, Arial, sans-serif;
   //font-weight: 500;
   margin: 10px;
   background-color: rgb(255, 255, 255);
   padding: 8px;
   border-radius: 2px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
   //line-height: normal;
}